.title{
  font-size: 18px !important;
}
.list{
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  padding-inline-start: 0px;
}
@media screen and (min-width : 0px) and (max-width : 579px){
  .list{
    display: block;
  }
}